 body {
        background-color: blueviolet;
    }
    
    .circle{
        margin: 50px auto;
        width: 30px;
        height: 30px;
        border: 4px solid rgba(255, 255, 255, 0.438);
        border-radius: 50%;
        border-top-color: rgb(190, 18, 18);
        animation: spin 1s linear infinite;
    }
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
}